@font-face { 
    font-family: 'GmarketSansBold'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700;
	src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 500;
	src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
	src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.col-lg-7{
    margin: 0 auto;
    -webkit-box-flex: 0;
    min-width: fit-content;
    max-width: fit-content;
    text-align: center;
}
.subheading2{
    font-weight: 600;
    font-size: 13px;
    display: block;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #b8b0b0;
}
.subheading{
    text-align: center;
    margin: 0 auto;
}
.mb-4 h2{
    margin: 0 auto;
    text-align: center;
}
#member{
    font-family: Gmarket Sans;
}

#member p{
    font-family: Gmarket Sans;
    font-weight: 100;
}
.media-body{
    font-family: Gmarket Sans;
    text-align: center;
}

.media-body p{
    font-family: Gmarket Sans;
    font-weight: 300;
}

.media-body h3{
    font-family: GmarketSansBold;
  
}
.ftco-section{
    font-family: Gmarket Sans;
}

.fname{
	text-align: left;
}